* {
    margin: 0;
    padding: 0;
}

/*NAVBAR*/
.navbar {
    height: 30px;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    font-size: 20px;
    margin: 20px 15px 5px 15px;
}


/*LOGO*/
.logo {
    display: flex;
    width: 50%;
    height: 400px;
    justify-content: center;
    margin: 30px auto;
}

/*to have img as link a tag becomes a container*/
.logo a {
    width: 50%;
    height: 400px;
}

.logo img {
    display: flex;
    width: 100%;
    height: 400px;
}

/*SEARCHBAR*/
.search-area {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 60px;
}

.search-area input {
    width: 50%;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
}

/*BUTTONS*/
.button-area {
    display: flex;
    width: 50%;
    justify-content: center;
    height: 60px;
    margin: 20px auto 0px auto;
}

.button-area button {
    margin: 0px 10px;
    font-size: 20px;
}

footer {
    background: grey;
    height: 75px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer ul {
    list-style: none;
}

footer li {
    margin: 20px 10px 0px 10px;
}
